body {
  background-color: orange;
  background-image: url("./cool.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  /* Soon will talk about this  */
  font-size: larger;
  font-style: normal;
  font-weight: bold;
}

li a {
  color: silver;
  font-size: medium;
}

nav ul {
  background-color: rgba(104, 130, 113, 0.618);
}

#job {
  color: steelblue;
}

#home {
  color: violet;
}

.same {
  background-color: yellow;
}

h1,
h2,
strong,
.same {
  color: rgba(104, 130, 113, 0.618);
}

h1,
h2 {
  color: blue;
  font-family: Helvetica;
  font-weight: normal;
  font-weight: bold;
}
h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}
