:root {
  /* root setup */
}

body {
  background-color: orange;
  background-image: url("./cool.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  /* Soon will talk about this  */
  font-size: larger;
  font-style: normal;
  font-weight: bold;
  border-top: black 2px solid;
  border-bottom: none;
  border-top: orange 4px solid;
  border-style: dashed solid none solid;
  border: 2px dashed #333333;
}

/* li a {
  color: silver;
  font-size: medium;
} */

/* nav ul {
  background-color: rgba(104, 130, 113, 0.618);
} */

#job {
  color: steelblue;
}

/* #home {
  color: violet;
} */

h1,
h2,
strong {
  color: rgba(104, 130, 113, 0.618);
}

h1,
h2 {
  color: blue;
  font-family: Helvetica;
  font-weight: normal;
  font-weight: bold;
}
h1 {
  font-size: 24px;
  /* Never do this in your life */
  margin-top: 400px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 200px;
  padding: 40px;
}

h2 {
  font-size: 18px;
}

body {
  border: black 2px solid;
  margin: 5px;
}

section {
  /* very good one */
  /* view width */
  width: 50vw;
  /* view height */
  height: 50vh;
}
article {
  width: 80%;
  height: 50%;
  font-size: 1rem;
}
#main-text {
  color: teal;
  letter-spacing: 5px;
  word-spacing: 10px;
  line-height: 40px;
  text-align: left;
  text-transform: capitalize;
  text-indent: 2vw;
  text-decoration: lightblue wavy underline;
  font-family: "Reggae One", cursive, Verdana, sans-serif;
  /* rem  16px * num  = ??px */
  /* em parent * num = ??px */
  font-size: 3em;
  font: italic bold 2rem Times, serif;
}
nav ul li a {
  color: orange;
  text-decoration: none;
  background-color: navajowhite;
}
a:visited,
a:link {
  color: orange;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

nav ul li a:hover {
  background-color: gray;
  color: brown;
}
form {
  position: relative;
  top: 4rem;
  right: 0;
}

.img {
  width: 6rem;
  height: 3rem;
  /* Use with care */
  /* float: right; */
  /* display: none; */
  visibility: visible;
}
article {
  clear: left;
}
