* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  --ani-move: all 0.4s ease-in;
}
body {
  height: 100vh;
}
/* .navbar {
  background-color: lightgray;
  display: flex;
  justify-content: flex-start;
  flex-flow: row;
  font-family: Tahoma, sans-serif;
  position: relative;
  width: 100vw;
  height: 5vh;
}

.navbar::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 40%;
  width: 100%;
  height: 120%;
  background-color: lightgray;
  left: 30%;
  top: 20%;
} */
/* style items */

/* footer */
/* footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: orange;
}
footer::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 40%;
  width: 70%;
  height: 100%;
  background-color: orange;
  right: 30%;
  bottom: 25%;
}
footer ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
} */
