body {
  background-color: rgba(0, 0, 0, 0.796);
}

.posts {
  border: 2px solid gray;
  margin: 2rem;
  background-color: white;
}
.posts h2 span,
.posts h6 {
  font-size: x-small;
  color: gray;
}
div span {
  margin-right: 1rem;
}
