<<<<<<< HEAD
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: gray;
}
table {
  padding: 00.1rem;
  border: 0.1rem solid rgb(226, 226, 226);
  margin: 2.5rem auto;
}
td {
  width: 5rem;
  height: 5rem;
  background-color: black;
}
tr:nth-child(2n + 1) :nth-child(2n),
tr:nth-child(2n) :nth-child(2n + 1) {
  background-color: silver;
=======
table {
  border: 1rem black solid;
  margin: 0 auto;
  border-collapse: collapse;
}
td {
  height: 2.5rem;
  width: 2.5rem;
}
tr:nth-child(2n) :nth-child(2n + 1),
tr:nth-child(2n + 1) :nth-child(2n) {
  background-color: gray;
>>>>>>> 5fe3cec9a81412cef68a71afd6b66e2e1eb8998d
}
