/* 
things you might want to pay more attention to
  z-index: 99; Not good idea
  images are broken
  no index.html on the root directory
  more DRY css files
  If you are using Mac you need .gitignore for .DB_Store
  add GH pages link to about section for that repo
  SORT files and directories
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CSS selectors */

/* Element selector */
html {
  background-color: orange;
}

/* #ID selector */
#cool {
  background-color: orangered;
}
/* .class selector */
.box {
  background-color: orchid;
}

/* element,element Selector
  element AND element 
  */
table,
div {
  background-color: paleturquoise;
}

/* element element Selector
  aka element inside element 
  */
div p {
  font-size: smaller;
}

/* element>element	 Selector  
  element parent element 
  */

div > p {
  font-family: "Times New Roman", Times, serif;
  color: purple;
}
/* element+element  Selector
  element immediately after element */
div + span {
  background-color: rosybrown;
}

/* element1~element2 Selector 
  element preceded element */
p ~ span {
  background-color: royalblue;
}

/* [attribute] Selector */

/* [attribute=value] Selector  */

/* [attribute~=value] Selector
  containing the value */

/* [attribute^=value] Selector
  begins with the value */

/* [attribute$=value] Selector
  value ends with  */

/* [attribute*=value] Selector
  contains the substring */

/* pseudo class  */
/* :hover */

/* :visited */

/* :focus */

/* :active */

/* :checked */

/* :target */

/* :nth-child() */

/* pseudo elements  */
/* ::after  
  :after css2 and ::after is css3*/

/* ::before  
    :before css2 and ::before is css3*/
