// Body Setup
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}
// Text input
input[type="text"] {
  border: 0 none;
  width: 8rem;
}
// Every other list item
li:nth-child(2n) {
  background-color: orange;
}
// To remove style from list
li {
  list-style: none;
}
