// Body Setup
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}
// Text input
input[type="text"] {
  border: 0 none;
  width: 10rem;
}
// Every other list item
li:nth-child(2n) {
  background-color: orange;
}
// To remove style from list
li {
  list-style: none;
}

// Footer
.footer {
  background-color: gray;
  width: 100vw;
  height: 3rem;
  position: absolute;
  left: 0;
  bottom: 0;
}
